@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100&display=swap');

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    letter-spacing: 1rem;
        background: linear-gradient(203deg, #b9cbc6, #354440);
        background-size: 400% 400%;
    
        -webkit-animation: AnimationName 30s ease infinite;
        -moz-animation: AnimationName 30s ease infinite;
        -o-animation: AnimationName 30s ease infinite;
        animation: AnimationName 30s ease infinite;
    }
    
    @-webkit-keyframes AnimationName {
        0%{background-position:94% 0%}
        50%{background-position:7% 100%}
        100%{background-position:94% 0%}
    }
    @-moz-keyframes AnimationName {
        0%{background-position:94% 0%}
        50%{background-position:7% 100%}
        100%{background-position:94% 0%}
    }
    @-o-keyframes AnimationName {
        0%{background-position:94% 0%}
        50%{background-position:7% 100%}
        100%{background-position:94% 0%}
    }
    @keyframes AnimationName {
        0%{background-position:94% 0%}
        50%{background-position:7% 100%}
        100%{background-position:94% 0%}
    
     
   
}
  
.content{
    position: relative;
    height: 100vh;
    width: 100vw;
}

.content h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 12em;
}

.content h1:nth-child(1){
    color:transparent;
    -webkit-text-stroke: 3px #c3c5da;
}

.content h1:nth-child(2){
    color: #9d9fb5;
    animation: animate 4s ease-in-out infinite;
}

@keyframes animate
{
    0%, 100%{
        clip-path: polygon(0% 45%, 15% 44%, 32% 50%, 54% 60%, 70% 61%, 84% 59%, 100% 52%, 100% 100%, 0% 100%);
    }
    60%{
        clip-path: polygon(0% 60%, 16% 65%, 34% 66%, 51% 62%, 67% 50%, 84% 45%, 100% 46%, 100% 100%, 0% 100%);
    }
}